{% extends "course/base_course.html.jinja"%}
{% block title %}{% endblock %}

{% block sectionLinks %}
<p>This module</p>
<ul>
<li><a href="#Section1">Section 1</a></li>
</ul>
<a href="#">Module 2</a>
{% endblock %}	
{% block content %}

{% endblock %}