{% extends "course/base_course.html.jinja"%}
{% block title %}Problem Solving{% endblock %}

{% block sectionLinks %}
<p>This module</p>
<ul>
<li><a href="#Section1">Section 1</a></li>
</ul>
<a href="#">Module 2</a>
{% endblock %}
{% block content %}
<h1>Comming Soon</h1>
{% endblock %}